{% extends "eams/base.html" %}
{% load staticfiles %}
{% block content %}

<h1>FLOOD MANAGEMENT INFORMATION SYSTEM (FMISC), UTTAR PRADESH</h1>
	<p>This FMIS Centre created by vide G.O. NO 2058/14-27-SI-4-25(W)/14 ON DATED 20/10/2014. This FMISC will act as Technical Secretariat for flood management in UP, act as clearing house for all flood related information; promote innovative concepts and technologies to improve flood management, develop databases, analytical tools, information products; enable effective dissemination; and provide interface amongst flood management stakeholders including GoUP agencies and communities.</p>
<h2>FUNCTIONS OF FLOOD MANAGEMENT INFORMATION SUPPORT CENTRE</h2>
	<ul>
		<li>To coordinate all FMIS activities such as Embankment Asset Management System (EAMS), river/embankment and topographic surveys, flood forecast and inundation mapping, GIS based knowledge base, improving hydrologic observation network including real-time transmission, community participation in flood risk management, capacity building, etc.</li>
		<li>To liaise with State and Central stakeholders, such as National Remote Sensing Centre (NRSC), Remote Sensing Applications Centre (RSAC), Central Water Commission (CWC), India Meteorological Department (IMD), Ganga Flood Control Commission (GFCC), and Survey of India (SOI), State Relief Commissioner, State Disaster Management Authority, other State line departments involved in flood management for sharing of data and experience in flood management.</li>
		<li>To create a comprehensive Flood Management Knowledge Base by collating and compiling all flood related data, information and knowledge.</li>
		<li>To provide data, information and knowledge support for improved flood management in the State, during both flood and normal periods</li>
		<li>To provide analytical support in remote sensing and Geographic Information System (GIS) for UPIWRD activities such as planning anti erosion control schemes, river management, emergency flood management, and in rehabilitation and reconstruction.</li>
		<li>To develop and operationally disseminate standard and customized flood information products including alerts</li>
		<li>To follow-up on dissemination to enable effective utilization</li>
		<li>To produce an Annual Report, describing and analyzing Centre's performance in each flood season for improving FMIS</li>
		<li>To develop, maintain and upgrade flood website for effective stakeholder dissemination, interaction and utilization</li>
		<li>To build capacity within FMISC and in UPIWRD for sustained flood management, through workshops, training, national and international visits, expert visits, etc</li>
	</ul>
<h2>FMISC OBJECTIVE</h2>
	<p>The overall objective is to strengthen existing institutional capacity and arrangements for flood management in the state and make extensive use of modern technology (e.g. satellite remote sensing, Geographic Information System [GIS], internet, etc.).</p>
	<p>The long term objective of FMIS development would be to effectively support flood control and management. In short term, this will be achieved by piloting flood hazard characterization and operational flood management information products supplemented by improved flood forecast modeling, plans for upgrading hydrologic measurement, automation of measurements and telemetric transmission of data. It is expected that on successful piloting, FMIS would be extended to all the flood-prone river basins in the State.</p>
	
{% endblock %}