{% extends "eams/base.html" %}
{% load staticfiles %}
{% block content %}
<p class="ErrorText"></p>

<h1>Welcome to Embankment Asset Management System</h1>

<p>EAMS would enable a holistic approach to the management of flood management infrastructure assets. It would introduce transparency in institutional processes, since the same data would be seen from the decision makers to the field engineers. EAMS would provide support rational prioritization of field proposals, and appropriate fund allocation for maintenance of critical problems flagged in the inspection report.  It would help monitor physical and financial progress in pre-flood activities, identify delays and reasons, identify critical closure actions and assess consequences of delay/partial completion, allocate funds, materials and labor, complete the works, and certify embankment safety.  Emergency actions would be monitored at hrs. in the background of funds, material and labor availability, and action identified, monitored for compliance.</p>
   <p>EAMS would integrate and provide on-line access to all the relevant historic and current data on assets and river management data, which are currently not easily accessible and in different forms and scattered across the UPIWRD offices and in other stakeholder offices, together with the current condition data that will be generated as per the field Inspection and other sources. It would support development of a comprehensive Embankment Asset Safety Programme given below:</p>
		<ul>
		 <li>periodically monitoring embankment and other assets profile, physical status, and river behavior </li>
		 <li>Conducting risk assessment</li>
		 <li>Issuing Watch, Alerts and Outlook for effective asset management </li>
		 <li>Implementing processes, protocols and programs for optimal management through-out the asset lifecycle.</li>
		</ul>
           
            <table><tr><td align="top">
            <h2>Objective of EAMS</h2>
            <p>The objective is to develop an Embankment Asset Management System (EAMS) for Rapti Basin, to optimally manage existing embankment assets for sustained benefits and at sustainable cost, and to develop new assets as needed.  </p>
            
            <h2>EAMS GIS Portal includes:</h2>
            <ul>
              <li>Geospatial layers</li>
              <li>Geospatial Apps</li>
              <li>Realtime Field Data Visualization</li>
              <li>Community Participation</li>
            </ul>
           

            </td>
            <td>
          <img src="{% static 'images/rapti-basin.jpg' %}" width="450px" height="325" align="left" style="margin-right:10px">

            </td>
            </tr>
            </table>
{% endblock %}